<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<div class="register__header-wrapper">
    <div class="register__header-1">
        <div class="register__email-logout-wrapper">
            <div th:text="${customer.getEmail()}"></div>
            <a class="register__logout" href="/logout">Logout</a>
        </div>
    </div>
    <div class="register__header-2"></div>
</div>

<div class="container">

    <div class="register__title-wrapper">
        <h1>Welcome to Caloric Table page</h1>
        <h2>Register to our page</h2>
    </div>

    <p>Welcome user <span th:text="${customer.getUserName()}"></span></p>

    <form action="#" th:action="@{/customer-information}" th:object="${customer}" method="post">
        <table id="registration-table" class="table">
            <tbody>

            <tr>
                <td>
                    <label for="register__userName">Customer name</label>
                <td>
                    <input th:value="${customer.getUserName()}" name="userName" type="text" id="register__userName" readonly>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="register__email">Customer name</label>
                <td>
                    <input th:value="${customer.getEmail()}" name="email" type="text" id="register__email" readonly>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="register__gender">Gender</label>
                <td>
                    <select name="gender" id="register__gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="register__age">Age</label>
                <td>
                    <input th:value="${customer.getAge()}" name="age" type="number" id="register__age">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="register__weight">Weight</label>
                </td>
                <td>
                    <input th:value="${customer.getWeight()}" name="weight" type="number" id="register__weight">
            </tr>

            <tr>
                <td>
                    <label for="register__height">Height</label>
                </td>
                <td>
                    <input th:value="${customer.getHeight()}" name="height" type="number" id="register__height">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="register__register"></label>
                </td>
                <td>
                    <input th:type="submit" th:value="${registerOrUpdate}" id="register__register">
                </td>
            </tr>

            </tbody>

        </table>

        <p>Your daily calories should be:
            <span class="register__daily-calories-value">0</span>
            KCal
        </p>

    </form>
</div>


<script>
    const $ageInput = document.getElementById("register__age");
    const $weightInput = document.getElementById("register__weight");
    const $heightInput = document.getElementById("register__height");
    const $genderInput = document.getElementById("register__gender");
    const $dailyCaloriesValue = document.querySelector(".register__daily-calories-value");
    let BMR = 0;

    $ageInput.addEventListener("change", () => {
        calculateBMR();
    });

    $weightInput.addEventListener("change", () => {
        calculateBMR();
    });

    $heightInput.addEventListener("change", () => {
        calculateBMR();
    });

    $genderInput.addEventListener("change", () => {
        calculateBMR();
    });

    const calculateBMR = () => {
        const ageValue = $ageInput.value;
        const weightValue = $weightInput.value;
        const heightValue = $heightInput.value;
        const genderValue = $genderInput.value;

        if (genderValue === "male") {
            BMR = 66.5 + (13.75 * weightValue) + (5.003 * heightValue) - (6.75 * ageValue);
        } else {
            BMR = 655.1 + (9.653 * weightValue) + (1.850 * heightValue) - (4.676 * ageValue);
        }

        $dailyCaloriesValue.innerHTML = Math.floor(BMR) + "";
    }

    // calculate BMR when data are loaded
    calculateBMR();

</script>


</body>
</html>
